{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Library Cart</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>ISBN</th>
                    <th>Author</th>
                   
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;"  src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>

                    <td>{{product.Isbn}}</td>
                    <td>{{product.author}}</td>
                   
                  
                </tr>


                {% endfor %}
               
            </tbody>

            <tfoot>
              
            </tfoot>
        </table>


        <hr>
        <div class="m-3 p-3">
        
        </div>
   </div>
</div>


<p>Please Wait While Admin Confirms your order </p>

<!-- modal -->

  <!-- Modal -->
  {% endblock %}



